#tarjetas {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#tarjetas > div {
    width: 400px;
    height: 410px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    padding: 15px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
}

#tarjetas > div img {
    width: 400px;
    height: 217px;
    border-radius: 10px;
}

#tarjetas > div h2 {
    text-align: center;
    padding: 25px;
}

#tarjetas > div p {
    height: 50px;
    text-align: justify;
    padding: 10px;
}

#tarjetas .preciodiv {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#tarjetas .preciodiv h3 {
    width: 100px;
    color: #CB0361;
}

#tarjetas .preciodiv a {
    text-decoration: none;
    text-align: center;
    width: 100px;
    height: 20px;
    box-shadow: 1px 1px 5px black;
    padding: 5px;
    color: black ;
    border-radius: 10px;
    transition: 1s;
}

#tarjetas .preciodiv a:hover {
    box-shadow: 0px 0px 10px #CB0361;
    color: #CB0361;
}

@media (max-width: 500px) {

    #tarjetas > div img {
        width: 300px;
    }
    
    #tarjetas > div p {
        font-size: 16px;
    }

}